.keep-alive-tabs {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    overflow      : hidden;

    .tabs {
        margin  : 0px;
        position: fixed;
        width   : 100%;
        z-index : 9999;

        .ant-tabs-tab {
            margin       : 0 !important;
            border       : none !important;
            border-bottom: none !important;
            border-radius: 0 !important;
            height       : 38px;
            padding      : 0 16px !important;
            background   : transparent !important;

            &.ant-tabs-tab-active {
                background-color: white !important;
                border-bottom   : none !important;
            }
        }

        .ant-tabs-nav {
            margin          : 0 !important;
            background-color: white;

            &::before {
                border: none !important;
            }
        }
    }

    .tabs-content {
        flex          : 1;
        overflow-y    : auto;
        margin-top    : 40px;
        height        : calc(100% - 40px);
        padding-inline: 24px;
        padding-block : 24px;
    }
}