.keep-alive-tabs {
    display       : flex;
    flex-direction: column;
    height        : 100%;
    width         : 100%;
    overflow      : hidden;

    .tabs-container {
        margin         : 0;
        position       : fixed;
        z-index        : 99;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        box-sizing     : border-box;
    }

    .tabs {
        width: 100%;

        .ant-tabs-tab {
            margin       : 0 !important;
            border       : none !important;
            border-bottom: none !important;
            border-radius: 0 !important;
            height       : 38px;
            padding      : 0 16px !important;

            &.ant-tabs-tab-active {
                border-bottom: none !important;
            }
        }

        .ant-tabs-nav {
            margin: 0 !important;

            &::before {
                border: none !important;
            }
        }
    }

    .tabs-content {
        flex          : 1;
        overflow-y    : auto;
        margin-top    : 40px;
        height        : calc(100% - 40px);
        padding-inline: 24px;
        padding-block : 24px;
    }
}